body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #0AEDEC;
    background: #211D1B;
    font-family: cursor, monospace;
    overflow-x: hidden;
  }